@charset "utf-8";
/* CSS Document*/

body{
font-family: "Comic Sans MS", Helvetica, sans-serif;
background-color: #808080;
color: #FFD700;
}

h1{
color: black;
margin = auto;
box-shadow: 10px 10px 3px #ccc;
border-radius: 20px;
text-align: center;
background-color: yellow;
}

a:link{
color: yellow;
}

a:visited{
color: #BB0601;
}

a:hover{
background-color:white;
color: black;
}


